<h1>Retrieving an image</h1>

{% for message in app.flashes('error') %}
    <div>
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.password) }}
{{ form_end(form) }}