<h1>Image uploaded</h1>

<div>Image may be downloaded at the following url: {{ url('transfer_retrieve_file', {'handle': handle}) }}</div>
<div><a href="{{ url('transfer_share_file') }}">Share another</a></div>